.prefilledInput {
  width: 100%;
  font-family: 'body';
  border: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  margin: 0;
}

.prefilledInput:focus {
  outline: none;
}

.prefilledInput::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
  color: 'gray0';
}
